.DS_Store
/bower_components
/node_modules
/public/hot
/public/storage
/public/fonts
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env



#some local files that are generated, and not to be committed
public/js/camsian-libs.js
public/css/camsian.css