<div id="loading-overlay" ng-if="vm.isProcessing"></div>
<div class="container content-wrapper home">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Dashboard</h3>
        </div>
        <div class="panel-body">
        	            <div class="col-xs-6 text-left">
                <h5>Sync Status <i class="fa fa-check-circle" aria-hidden="true"></i></h5>
                <p>Last successful sync: <span class='date'>{{vm.lastDateSync}}</span></p>
                <div class="alert alert-danger" ng-if="vm.errorMessage">
                    {{vm.errorMessage}}
                </div>
                <div class="alert alert-info" ng-if="vm.infoMessage" style="margin-top:20px;">
                    {{vm.infoMessage}}
                </div>
            </div>
            <div class="col-xs-6 text-right">
                    <button class="btn sync-task xi-btn" ng-click="vm.syncPayroll()">Sync Payroll</button>
            </div>
        </div>
    </div>

</div>