<div id="loading-overlay" ng-if="vm.isProcessing"></div>
<div class="container content-wrapper settings">
    <div class="panel panel-default">
        <div class="panel-heading">
        	<h3 class="text-left">API Settings</h3>
        	
        	<button ng-click="vm.save()" class="btn btn-save">Save</button>
        	
        </div>
        <div class="panel-body">
            <input type="text" class="form-control" value="" name="tennantId" ng-model="vm.connect.id" />
        </div>
    </div>

</div>